@using Blog.Application.Users.Queries.Login
@model LoginUserQuery

@{
    ViewData["Title"] = "AccessDenied";
}

 
<div class="row">
    <div class="col-md-4">
        <p class="text-danger">شما مجوز دسترسی به این قسمت را ندارید</p>
    </div>
</div>
 